In [1]:
import pandas as pd

pd.DataFrame({'Yes': [10, 20, 30, 40, 50, 60], 'No': [11, 21, 31, 41, 51, 61]})

   Yes  No
0   10  11
1   20  21
2   30  31
3   40  41
4   50  51
5   60  61

In [5]:
pd.DataFrame({'English': [90, 89, 80, 78, 49, 29], 'Hindi': [98, 97, 78, 79, 60, 54], 'Maths': [100, 87, 34, 27, 59, 98]},
            
             index = ['Snehil', 'Rahul', 'David', 'John', 'Andrew', 'Ola']
            )

        English  Hindi  Maths
Snehil       90     98    100
Rahul        89     97     87
David        80     78     34
John         78     79     27
Andrew       49     60     59
Ola          29     54     98

In [8]:
pd.Series([12, 13, 14, 15, 6], index = ['a', 'a', 'c', 'd', 'e'])

a    12
a    13
c    14
d    15
e     6
dtype: int64